.tabbedContainer {
    background-color: var(--bg-code);
    box-shadow: var(--box-shadow);
}

.selectContainer {
    background-color: var(--bg-code);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: var(---theme-change-transition);
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    padding-top: 5px;
    display: flex;
    overflow-y: auto;
    padding-bottom: 5px;
    width: fit-content;
    z-index: 3;
}

.selectItem {
    background: inherit;
    border: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    min-width: 20%;
    border-bottom: 1px solid transparent;
    margin-right: 1rem;
}

.selectItem:hover {
    border-color: var(--text-color-primary);
}

#active {
    border-color: var(--text-color-article-link);
}

.selectItem > * {
    margin-top: 0;
    margin-bottom: 0;
}

.tabbedContent {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 1rem;
}