.card {
    border: 1px solid transparent;
    padding: 0.5rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.title {
    font-size: 1.5rem;
}

.title, .button {
    border-bottom: 1px solid transparent;
    transition: border-color var(--theme-change-transition);
    width:fit-content
}

.card:hover, .button:hover, .title:hover {
    border-color: var(--text-color-article-link);
}
