.citation {
    list-style: none;
}

.title {
    font-style: italic;
}

.author:after,
.title:after,
.volume:after,
.publisher:after,
.publisherLocation:after {
    content: ', ';
}

.year:after {
    content: ". ";
}