#footer {
    background: var(--bg-footer);
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: var(--font-size-footer);
    margin-top: 2rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
    text-align: center;
}

#socialContainer {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.socialIcon {
    height: 3rem;
}

#linkContainer {
    color: var(--text-color-primary);
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.copyright {
    color: var(--text-color-date);
}