@font-face {
    font-family: "Raleway";
    src: url("/fonts/Raleway-VariableFont-wght.ttf");
}

:root {
    --font-size-article-title: 2.75rem;
    --font-size-article-description: 1.25rem;
    --font-size-article-text: 1.25rem;
    --font-size-article-h1: 2.25rem;
    --font-size-article-time: 1rem;
    --box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    --font-logo: "Raleway";
    --font-size-logo: 1.5rem;
    --font-size-footer: 1rem;
    --theme-change-transition: 0.3s ease;
}

[data-theme="dark"] {
    --bg-primary: #222222;
    --bg-header: var(--bg-primary);
    --bg-footer: #1f1f1f;
    --bg-code-title: hsl(220, 13%, 18%);
    --text-color-primary: #F8F8FF;
    --text-color-date: lightgrey;
    --text-color-article-heading: #FFE4E1;
    --text-color-article-link: aqua;
    --scrollbar-color: #1f1f1f;
    --scrollbar-thumb-color: #444;
    --scrollbar-thumb-color-hover: #555;
}

[data-theme="light"] {
    --bg-primary: white;
    --bg-header: var(--bg-primary);
    --bg-footer: #f7f7f7;
	--bg-code-title: hsl(230, 1%, 98%);
    --text-color-primary: black;
    --text-color-date: grey;
    --text-color-article-heading: #0693e3;
    --text-color-article-link: #718ad1;
    --scrollbar-color: lightgrey;
    --scrollbar-thumb-color: #8f8f8f;
    --scrollbar-thumb-color-hover: #555;
}

#app {
    background-color: var(--bg-primary);
    color: var(--text-color-primary);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, 
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    transition: background-color var(--theme-change-transition);
}

a {
    color: inherit;
    text-decoration: none;
}

html,
body {
    overflow-x: clip;
    scroll-behavior: smooth;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
div,
section,
body {
    padding: 0;
    margin: 0;
}

#content {
    max-width: 768px;
    position: relative;
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;
    min-height: 100vh;
}

#app ::-webkit-scrollbar {
    width: 10px;
    height: 7px;
    background: var(--scrollbar-color);
}

#app ::-webkit-scrollbar-track {
    background: var(--scrollbar-color);
}   

#app ::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
    border-radius: 5px;
}

#app ::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-color-hover);
}