#article > p {
    font-size: var(--font-size-article-text);
    margin-top: 1rem;
}

#article > h1, #article > h2, #article > h3 {
    color: var(--text-color-article-heading);
    margin-top: 1rem;
}

#article > h1 {
    font-size: var(--font-size-article-h1);
}

#article > h2 {
    font-size: calc(var(--font-size-article-h1) * 0.8);
}

#article > h3 {
    font-size: calc(var(--font-size-article-h1) * 0.6);
}

/* There should be no need for heading sizes 4-6. This is ensured by forced sizing. */
#article > h4, #article > h5, #article > h6 {
    font-size: calc(var(--font-size-article-h1) * 0.6);
    color: var(--text-color-article-heading);
}

#article > p > a {
    color: var(--text-color-article-link);
    border-bottom: 1px solid transparent;
    transition: var(--theme-change-transition);
}

#article > p > a:hover {
    border-color: var(--text-color-article-link);
}

#article > p > img {
    width: 100%;
    max-height: 20vh;
    object-fit: contain;
}

#frontMatter {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* Overtake the article h1 precedence */
#frontMatter #title {
    text-align: center;
    font-size: var(--font-size-article-title);
    color: inherit;
    margin: inherit;
}

#description {
    text-align: center;
    margin-bottom: 0.5rem;
}

#date {
    align-self: flex-end;
    color: var(--text-color-date);
    font-size: var(--font-size-article-time)
}